main div, main div {
     font-size: 14px;
     font-weight: normal;
     text-align: left;
     width: 100%;
     font-family: monospace;
}

main.container {
     margin-bottom: 100px;
}

div.user {
     border: 2px solid green;
     margin: 10px;
}

div.record {
     padding: 5px;
}

nav .navbar-brand>img {
     display: inline-block;
     height: 100%;
     margin-left: 10px;
}

.form-group {
     width: 100%;
     margin-bottom: 5px !important;
}

.hidden {
     display: none;
}

.green {
     color: green;
}

.red {
     color: red;
}

main #Image {
     width: 300px;
}

main #ticket {
     word-wrap: break-word;
     width: 70%;
     margin: 0 30% 30 0;
     border: 2px solid blue;
}

img.red {
     border: 10px solid red;
}

img.green {
     border: 10px solid green;
}

main div.QRlogin {
     margin: auto;
     width: 50%;
     text-align: center;
     font-size: 45;
     font-family: fantasy;
     padding: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
     background-color: #eee;
     color: #444;
     cursor: pointer;
     padding: 10px;
     width: 100%;
     text-align: left;
     border: none;
     outline: none;
     transition: 1s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active, .accordion:hover {
     background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

div.panel {
     padding: 10px;
     background-color: white;
     display: none;
     overflow: hidden;
     margin: 0;
     word-wrap: break-word;
}

.login {
     display: flex;
}

.login .record {
     width: 80%;
}

.login .LoginImage {
     width: 20%;
}

.login .LoginImage img {
     max-width: 200px;
     max-height: 200px;
     width: auto;
     height: auto;
     display: block;
}